 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    
    .container {
      width: 80%;
      margin: auto;
      overflow: hidden;
    }
    
    header {
      background: #000000;
      color: #fff;
      padding: 20px 0;
    }

    
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo-fixa {              
  display: flex;
  align-items: center;    
  gap: 10px;              
}


.logo-fixa img {          
  width: 80px;            
  height: auto;           
}
    
    .logo-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .logo-title h1 {
      margin: 0;
    }
    
    nav ul {
      padding: 0;
      list-style: none;
      display: flex;
    }
    
    nav ul li {
      margin-left: 20px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
    }
    
    nav ul li a.active {
      font-weight: bold;
      text-decoration: underline;
    }
    
    .login-page {
      padding: 50px 0;
      text-align: center;
    }
    
    .login-container {
      max-width: 500px;
      margin: 0 auto;
      background: #fff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgb(0, 0, 0);
    }
    
    .form-group {
      margin-bottom: 20px;
      text-align: left;
    }
    
    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    .form-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    button[type="submit"] {
      background: #fff;
      color: #000000;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background 0.3s;
      width: 100%;
    }
    
    button[type="submit"]:hover {
      background: #e0008a;
    }
    
    .links-adicionais {
      margin-top: 20px;
      text-align: center;
    }
    
    .links-adicionais a {
      color: #000000;
      text-decoration: none;
    }
    
    .links-adicionais a:hover {
      text-decoration: underline;
    }
    
    footer {
      background: #fff;
      color: #000000;
      text-align: center;
      padding: 5rem 0;
      margin-top: 50px;
    }


  </style>